*.sh~
*.mkd~
*.conf~
Makefile~
repository~

# debian build files
debian/*~
debian/buildroot/
debian/*.debhelper.log
debian/*.substvars
debian/git-sync/
install_manifest.txt
*.1
build-stamp
configure-stamp
debian/files
deb/
