Source: git-sync
Section: main
Priority: extra
Maintainer: Ilya Shpigor <petrsum@gmail.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: git-sync
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, git
Description: Scripts for synchronisation git repositories
